.country-container{
    display: grid;
    grid-template-areas: "country month dates";
    grid-template-columns: 4fr Auto auto;
    grid-template-rows: 4rem;
}

.item1country {
    grid-area: country;
}
.item2country {
    grid-area: month;
    margin-right : 10px;
    margin-left : 10px;
}
.item3country {
    grid-area: dates;
    justify-content: end;
}

.twoWide-container {
    display: grid;
    grid-template-areas:
    "left right";
}

.weekend-container {
    display: grid;
    grid-template-areas: 
        "day1 day2 day3"
        "e1name e3name e5name"
        "e1time e3time e5time"
        "e2name e4name blank1"
        "e2time e4time blank2";

    grid-template-columns: auto auto auto;
    grid-template-rows: 1.5rem 1.5rem auto 1.5rem auto;                    
}

.friday-header {
    grid-area: day1;
    font-size: 1.5rem;
    line-height: 0.5rem;
    font-weight: bold;
    margin-top: 10px;
}
.saturday-header {
    grid-area: day2;
    font-size: 1.5rem;
    line-height: 0.5rem;
    font-weight: bold;
    margin-top: 10px;
}
.sunday-header {
    grid-area: day3;
    font-size: 1.5rem;
    line-height: 0.5rem;
    font-weight: bold;
    margin-top: 10px;
}
.e1name {
    grid-area: e1name;
    font-weight: bold;
}
.e1time {
    grid-area: e1time;
    font-size: 0.92rem;
    color: rgb(164, 162, 162);
}
.e2name {
    grid-area: e2name;
    font-weight: bold;
}
.e2time {
    grid-area: e2time;
    font-size: 0.92rem;
    color: rgb(164, 162, 162);
}
.e3name {
    grid-area: e3name;
    font-weight: bold;
}
.e3time {
    grid-area: e3time;
    font-size: 0.92rem;
    color: rgb(164, 162, 162);
}
.e4name {
    grid-area: e4name;
    font-weight: bold;
}
.e4time {
    grid-area: e4time;
    font-size: 0.92rem;
    color: rgb(164, 162, 162);
}
.e5name {
    grid-area: e5name;
    font-weight: bold;
}
.e5time {
    grid-area: e5time;
    font-size: 0.92rem;
    color: rgb(164, 162, 162);
}

.countdown-container {
    display: grid;
    grid-template-areas: 
        "top top top top"
        "days hours minutes seconds"
        "ldays lhours lminutes lseconds";
    grid-template-rows: auto 1.4rem auto;
}
 
.header {
    grid-area: top;
    font-size: 1.5rem;
    line-height: 0.5rem;
    font-weight: bold;
    margin-top: 10px;
}
.days {
    grid-area: days;
    font-size: 2.5rem;
    line-height: 0.5rem;
    margin-top: 10px;
}
.hours {
    grid-area: hours;
    font-size: 2.5rem;
    line-height: 0.5rem;
    margin-top: 10px;
}
.minutes {
    grid-area: minutes;
    font-size: 2.5rem;
    line-height: 0.5rem;
    margin-top: 10px;
}
.seconds {
    grid-area: seconds;
    font-size: 2.5rem;
    line-height: 0.5rem;
    margin-top: 10px;
}
.ldays {
    grid-area: ldays;
    font-size: 0.92rem;
    color: rgb(164, 162, 162);
}
.lhours {
    grid-area: lhours;
    font-size: 0.92rem;
    color: rgb(164, 162, 162);
}
.lminutes {
    grid-area: lminutes;
    font-size: 0.92rem;
    color: rgb(164, 162, 162);
}
.lseconds {
    grid-area: lseconds;
    font-size: 0.92rem;
    color: rgb(164, 162, 162);
}
.eventComplete {
    color: rgb(87, 89, 83);
}

.eventComplete hr {
    border-color: rgb(87, 89, 83);
}
.eventComplete p {
    border-color: rgb(87, 89, 83);
}
