.topnav {
    background-color: #000000;
    overflow : hidden;
    width: 100%;
    align-items: center;
    border-bottom-color: #27272a;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .topnav a {
    float: left;
    color: #f7ffff;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
  }
  .topnav a:active {
    transition-duration: 0.25s;
    transform: scale(0.95);
  }